.cn {

}

.en {
    font-size: 0.9em;
    color: #aaa;
}
.toc{
    position: fixed;
    top:0px;
    right:0px;
    width:240px;
    overflow: scroll;
    height:100%;
    background: #eee;
    font-size: 0.8em;
    font-family: hei;
    text-decoration: none;
}
#toggle_menu{
    position: relative;
    top:50%;
    right:-20px;
}
.toc ul{
    width:100%;
    padding-left:15px;
}
.tools{
    position: fixed;
    bottom:50px;
    right:50px;
    background: #;
}
.tools ul{
    margin:0;
    padding: 0;
}
.tools ul li {
    list-style-type: square;
    line-height:19px;
}
