.cn {

}

.en {
    font-size: 0.9em;
    color: #aaa;
}
.toc{
    position: fixed;
    top:0px;
    right:0px;
    width:240px;
    overflow: scroll;
    height:100%;
    background: #eee;
    font-size: 0.8em;
    font-family: hei;
    text-decoration: none;
}
#toggle_menu{
    position: fixed;
    top:50%;
    right:-20px;
}
.toc ul{
    width:100%;
    padding-left:15px;
}
.tools{
    position: fixed;
    bottom:5px;
    right:5px;
    background: #ccc;
    text-align: right;
    border-radius: 5px;
    padding:4px 3px;
}
.tools ul{
    margin:0;
    padding: 0;
}
.tools ul li {
    list-style-type: none;
    line-height:19px;
}
