.cn {

}

.en {
    font-size: 0.9em;
    color: #aaa;
    display: none;
}
.toc{
    position: fixed;
    top:0px;
    left:0px;
    width:240px;
    overflow: scroll;
    height:100%;
    background: #eee;
}
.toc ul{
    width:100%;
    padding-left:15px;
}
.tools{
    position: fixed;
    bottom:50px;
    right:50px;
}
.tools ul{
}
